
.whole-page {
    background-color:rgb(211, 203, 203);
    margin-left: 20px;
    margin-right: 20px;
    padding-inline-start: 2px;
 
} 


#third-journey {
    font-size: 20px;
    font-style: bold;
}
#second-journey{
    font-size: 20px;
    text-decoration: bold;
}
#footer {
    background-color: aqua;
    font-size: 20px;
    text-align: center;
}
#number{
    align-content: center;
}
 p {
    text-align: center;
}